body{
 Background-color:#FFFFFF;
 Color:#666666;
}

header{
  background-color: #00B386;
  color: #FFFFFF;
}

nav{
  bbackground-color:#70DBDB;
}

h2{
  color: #00664D;
}

dt{
color: #00664D;
}

barn{
  color: #70DBDB;
}

  
